<% if notice %>
<p class="alert-box"><%= notice %></p>
<% end %>


  <h1>Catering Menu</h1>
  <div>
    <% @menu_items.each do |menu_item| %>
      <div>
        <div class="panel">
          <div class="img"><%= image_tag(menu_item.image_url) %></div>
            <div class="item">
              <h5><%= menu_item.title %></h5>
              <%= sanitize(menu_item.description) %>
              <%= number_to_currency(menu_item.price) %>
              <%= button_to 'Add to Order', line_items_path(menu_item_id: menu_item) %>
            </div>
        </div>
      </div>
    <% end %>
  </div>
